<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">  
  
<hibernate-configuration>
    <session-factory>  
        <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>  
        <property name="connection.url">jdbc:mysql://localhost:3306/world</property>  
        <property name="connection.username">pinco</property>  
        <property name="connection.password">LorenzoDechit96_</property>  
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property> 
        <property name="show_sql">true</property>
    <mapping resource="city.hbm.xml"/>  
    </session-factory>  
</hibernate-configuration>  
